body{
    background-color: lightgray;
}
img{
    width: 20vw;
}
#container{
    margin-top: 10vw;
    background-color: rgb(35, 114, 231);
    margin-left: 18vw; 
    margin-right: 18vw;
    padding: 1vw;
}
#logo{
   margin-top: -9vw;
   float: left;
}

#container>img {
    margin-left: 20vw;

}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
audio{
    margin-left: 20vw;
    width: 20vw;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}